alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astroid==4.0.4
basedpyright==1.39.4
bcrypt==5.0.0
black==26.3.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography==48.0.0
dill==0.4.1
fastapi==0.136.1
greenlet==3.5.0
h11==0.16.0
idna==3.15
isort==8.0.1
joblib==1.5.3
logger==1.4
Mako==1.3.12
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
nodejs-wheel-binaries==24.15.0
numpy==2.4.5
packaging==26.2
pandas==3.0.3
pathspec==1.1.1
platformdirs==4.9.6
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyJWT==2.12.1
pylint==4.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
SQLAlchemy==2.0.49
starlette==1.0.0
threadpoolctl==3.6.0
tomlkit==0.15.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.47.0
